#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0;
    background-color: blue;
}

#nav-container a {
    padding-right: 30px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#nav-container a:hover {
    color: yellow;
}

#nav-title a {
    font-size: 40px;
    padding-left: 30px;
}